BasedOnStyle: Microsoft
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
NamespaceIndentation: None
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Right
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: true
FixNamespaceComments: true
DerivePointerAlignment: false
